//global colors
$white1: #fff;
$white2: #f4f5f9;
$red1: #e01522;
$red2: #ef233c;
$error1: #f33e3e;
$hover1: #019e9e;
$gray1: #ccc;

$font-color1: #a0a5b9;
$font-color2: #606b85;
$bg-button1: #008080;
