@import "./variables";

.activity {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.899rem;
  overflow: hidden;
}
.activity-item {
  padding: 16px;
  width: 25%;
  border-radius: 10px !important;
  color: $white1;
  box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.47);
  .activity-title {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 8px;
  }
  .reports {
    text-align: center;
    font-size: 1.35rem;
  }
  ion-icon {
    font-size: 22px;
    margin: 0 5px;
  }
}
.activity-item.total-report {
  background-color: $red1;
}
.activity-item.unsolve-report {
  background-color: $red2;
}
.activity-item.total-users {
  background-color: #e09f3e;
}
