@import "./variables";

.sidenavbar {
  flex: 1;
  height: calc(100vh - 70px);
  background-color: $white1;
  position: sticky;
  box-shadow: 0 0.35px 1.35px $gray1;
  .sidenavbar-menu {
    padding: 35px;
    .sidenavbar-title {
      font-size: 1.1rem;
      color: $font-color2;
    }
    .sidenavbar-list {
      transform: translateX(-1.2rem);
      a {
        text-decoration: none;
      }
      list-style: none;
      ion-icon {
        font-size: 22px;
      }
      p {
        margin: 0 8px;
      }
      a {
        display: flex;
        align-items: center;
        color: $font-color1;
        margin: 10px 0;
        padding: 5px;
        font-size: 18px;
        cursor: pointer;
        &:hover {
          color: $red1;
        }
      }
      .active {
        color: $red1;
      }
      .lower-listItem {
        transform: translateY(200px);
      }
    }
  }
}
