@import "./variables";

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 6px $gray1;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 35px;
}

.form {
  width: 100%;
  h2 {
    text-align: center;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    input {
      padding: 12px;
      margin: 12px;
      font-size: 14px;
      border: 1px solid $gray1;
      box-shadow: 0 1px 4px $gray1;
      border-radius: 6px;
      font-size: 18px;
      width: 100%;
    }
    button {
      background-color: $bg-button1;
      border: none;
      color: $white1;
      padding: 12px;
      margin: 12px 0;
      box-shadow: 0 1px 6px $gray1;
      width: 100%;
      border-radius: 6px;
      font-size: 18px;
      cursor: pointer;
    }
    p {
      cursor: pointer;
    }
  }
}

.error {
  background-color: $error1;
  color: $white1;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: bold;
  max-width: 400px;
  margin-bottom: 18px;
  text-align: center;
}
