@import "./variables";

.dropdown {
  position: relative;
  user-select: none;
  .dropdown-btn {
    background-color: $bg-button1;
    border: none;
    color: $white1;
    padding: 8px;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    box-shadow: 0 1px 5px $gray1;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  .dropdown-content {
    position: absolute;
    top: 40px;
    right: 0;
    border-radius: 5px;
    width: 250px;
    padding: 10px;
    background-color: $bg-button1;
    color: $white1;
    box-shadow: 0 1px 5px $gray1;
    cursor: pointer;
  }
  .dropdown-item {
    padding: 10px;
    transition: all 0.2s;
    &:hover {
      background-color: $hover1;
    }
  }
}
