//NOTE: Only global styling will be put here.
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap");
@import "./styles/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 1.355rem;
}

//table styling
.table-wrapper {
  max-width: 76vw;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.47);
  .table-container {
    background-color: $white1;
    max-height: 63vh;
    overflow-x: scroll;
  }
  table {
    border-collapse: collapse;
  }
  th {
    z-index: 10;
    position: sticky;
    top: 0px;
    background-color: $red1;
    padding: 8px;
    color: $white1;
    font-weight: 500;
  }
  td {
    padding: 6px;
  }
  td,
  th {
    border: 1px solid $white2;
    text-align: center;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 2px;
  }
  .control-wrapper {
    display: flex;
    button {
      font-size: 1.1rem;
      margin-right: 5px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
  }
}

//Report list style
.report-list-container{
  background-color: $white1;
  max-height: 63vh;
  overflow-y: scroll;
}
.report-list-wrapper{
  display: flex;
  padding: 12px;
  border-bottom: 3px solid $gray1;
  margin-bottom: 1rem;
  span{
    
    color: $font-color2;
  }
  .report-image{
    max-height: 300px;
    max-width: 300px;
    margin-right: 1rem;
    img{
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }
  }
  .report-details{
    margin-right: 1rem;
  }
  .description-container{
    height: 240px;
    width: 350px;
    padding: 12px;
    overflow-y: scroll;
    background-color: $white2;
  }
}

//search input style
.search-input {
  display: flex;
  justify-content: right;
  padding: 8px;
  font-family: inherit;
  input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid $gray1;
    width: 350px;
  }
  ion-icon {
    position: absolute;
    font-size: 1.5rem;
    transform: translate(-18px, 8px);
    color: $font-color1;
  }
}