@import "../../styles/variables";

.usertable-container {
  flex: 4;
  padding: 25px;
  background-color: $white2;
}
.delete-btn, .edit-btn{
  padding: 10px;
  width: 50px;
}
.delete-btn {
  background-color: $red2;
  color: $white1;
  &:hover{
    background-color: $red1;
  }
}
.edit-btn {
  background-color: #4361ee;
  color: $white1;
  &:hover{
    background-color: blue;
  }
}
  

